# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Gradle cache
.gradle-cache/
build-cache/
# Dependency lock (NO ignorar si usas dependency locking)
# gradle.lockfile   <-- déjalo versionado si existe

# OS FILES

# macOS
.DS_Store

# Windows
Thumbs.db

# Environment
.env
